html{
    font-family: sans-serif;
    background-color: cornsilk
}

header section{
    background-image: url(../Images/plantplussign.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 140px;
}

section{
    display: block;
    margin: 1px;
}

header h1{
    font-family: serif;
    font-size: 60px;
}

img{
    display: block;
    border: 1px solid transparent;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: blue;
}

nav {
    margin-top: 1px;
    padding: 5px;
}

nav ul {
    text-align: center;
    font-size: 1.2em;
}

nav ul li {
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    background-color: grey;
    display: inline;
    padding: 15px;
    margin: 5px;
}

nav ul li:hover {
    background-color: mediumaquamarine;
}

#headLogo {
    margin-left: 15%;
    float: left;
    height: 110px;
}

main section{
    margin-top: 1px;
    margin-bottom: 1px;
    border: 1px solid transparent;
}

main section p{
    font-size: 1.5em;
}

footer{
    background-color: grey;
    border: 1px solid transparent;
    padding: 0;
    margin: 1px;
    position: relative;
    bottom: 0px;
    width: 100%;
    text-align: center;
    display: block;
    margin: 1px;
}

footer ul li{
    margin-left: 10px;
    list-style-type: none;
    display: inline;
}
.left {
    width: 225px;
    float: left;
    margin-top: 1px;
    margin-bottom: 1px;
}

.right {
    float: right;
}

#selected{
    background-color: blanchedalmond;
}

label{
    float: left;
    width: 112px;
    padding-right:10px;
    text-align: right;
}

input{
    margin-left: 1em;
    margin-bottom: .5em;
    width: 220px;
}

input[type="radio"]{
    width: 10px;
}

input[type="checkbox"]{
    width: 15px;
}

.required {
    font-weight: bold;
    color: red;
}

textarea{
    max-height: 200px;
}
.head {
    float: left;
}

.mainSection {
    margin-bottom: 180px;
}

.container {
  position: relative;
  width: 300px;
}

.image {
  display: block;
  width: 300px;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 300px;
  height: 0;
  transition: .5s ease;
}

.container:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
#block {
    display: block;
}

.lists{
    list-style-type: none;
    list-style-position: outside;
}

.lists img{
    width: 50px;
}


aside {
    padding: 2px;
    border: 1px solid black;
    float: right;
}

table{
    font-size: 50px;
    border-collapse: collapse;
    width: 700px;
    text-align: left;
}

table, th, td{
    border: 3px solid black;
}
header h1{
    font-size: 110px;
    /*
    text-align: center;
    */
}

.equipmentLink {
    text-decoration: underline;
}



#mainText {
    margin: 0px;
}
